.m-small{
    margin: 2rem;
}

.m-medium{
    margin: 4rem;
}

.m-large{
    margin: 6rem;
}
.mtb-small{
    margin: 2rem 0rem;
}

.mtb-medium{
    margin: 4rem 0rem;
}

.mtb-large{
    margin: 6rem 0rem;
}

.mrl-small{
    margin: 0rem 2rem;
}

.mrl-medium{
    margin: 0rem 4rem;
}

.mrl-large{
    margin: 0rem 6rem;
}


// PADDING
.p-small{
    padding: 2rem;
}

.p-medium{
    padding: 4rem;
}

.p-large{
    padding: 6rem;
}

.ptb-small{
    padding: 2rem 0rem;
}

.ptb-medium{
    padding: 4rem 0rem;
}

.ptb-large{
    padding: 6rem 0rem;
}

.prl-small{
    padding: 0rem 2rem;
}

.prl-medium{
    padding: 0rem 4rem;
}

.prl-large{
    padding: 0rem 6rem;
}

//ALIGNMENT
.text-center{
    text-align: center;
}